.homePage {
  height: max-content;
}
.homePageHeader {
  padding: 0 100px;
  padding-top: 70px;
  height: 70vh;
  overflow: hidden;
  background-image: linear-gradient(to left, #000000a8, hsla(0, 0%, 0%, 0)),
    url(../assets/homepage/homepagebg.jpg);
  background-size: cover;
}
.headerFoodItemImage {
  width: 100%;
  background: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: infinite-rotate 60s linear infinite;
}
.headerFoodItemImage img {
  height: 400px;
}

.homePageActions {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}
.homePageActions h1 {
  font-weight: 800;
  font-size: 50px;
}

.reataurantSearchInput {
  display: flex;
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.homepageItems_container {
  padding: 0 130px;
}
.monthsHighlightsHeading {
  font-weight: 700;
  color: rgb(46, 46, 46);
  font-size: 20px;
  padding: 0;
  margin-top: 50px;
  padding-left: 20px;
  border-left: 5px solid orangered;
}

.restaurantCarusal {
  margin-top: 100px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  z-index: 0;
}
.carusalImage {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}
.carusalImage img {
  height: auto;
  width: 100%;
}
@keyframes infinite-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
