*{

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  
}
h2 i {
  color: #784800;
}

.signup-page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
    background-color: #FFAA05;
}

.login-container {
  border-radius: 20px;
  overflow: hidden;
  width: 80%;
  height:80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/bgimage/image.jpg);
}

.custom-input{
  height: 50px;


}

.edit-btn{
  height: 50px;
  width: 350px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: #FFAA05;
  color: white;
  font-size: 25px;
}

button:hover{
  background-color: white;
  color: #FFAA05;
}