.trackorder {
  min-height: 100vh;
  padding: 40px 200px;
  background-color: rgb(232, 232, 232);
}
.orderDetails {
  height: 100%;
  width: 200px;
}

.trackOrderContainer {
  min-height: 80vh;
  padding: 30px 40px;
}

.traker {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progressItem {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
  width: 300px;
}
.progressItemIcon {
  width: 80px;
  font-size: 30px;
}
.muted {
  color: rgb(185, 185, 185);
  filter: grayscale(100%);
}

.success {
  color: #0fab0f;
  border-color: #0fab0f;
}
.glowing {
  color: #0fab0f;
  animation: shadows 1s infinite;
}
.deliveryStatusLogo {
  height: 60px;
  width: 70px;
}
@keyframes shadows {
  /* 0% {
    box-shadow: 0px 0px 10px 3px #0fab0fab;
  }
  25% {
    box-shadow: 0px 0px 10px 3px #9cff8fc1;
  }
  50% {
    box-shadow: 0px 0px 10px 3px #0fab0fab;
  }
  75% {
    box-shadow: 0px 0px 10px 3px #9cff8fc1;
  }
  100% {
    box-shadow: 0px 0px 10px 3px #0fab0fab;
  } */
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px);
  }
}
