.uploadedImages {
  margin: 50px 0;
}

.restDetails {
  color: rgb(80, 80, 80);
}
.restDetails_heading {
  font-weight: 500;
  padding-bottom: 15px;
}
.restDetails_container {
  padding: 20px 40px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 8px;
}
.ownerName {
  /* background-color: rgba(0, 183, 255, 0.212); */
  text-transform: capitalize;
  padding: 8px 0;
  margin-right: 10px;
  border-radius: 5px;
  color: rgb(77, 77, 77);
}

.imageContainer {
  position: relative;
  border-radius: 5px;
  border: 1px solid lightgray;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 190px;
}

.r_img {
  background-color: black;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.r_img img {
  height: 100%;
  width: 100%;
}

.deleteBtn {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: 5px;
  right: 5px;
}
