.restaurantDetailsForm {
  padding: 40px 100px;
  min-height: 550px;
}
.formHeading {
  color: #515151;
  font-size: 30px;
  font-weight: 800;
}
.previewImg {
  padding: 5px;
  height: 300px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.previewImg img {
  border-radius: 5px;
  max-height: 100%;
  max-width: 100%;
}
.uploadedImagesContainer {
  display: flex;
  width: 80%;
  justify-content: space-between;
  overflow: hidden;
  background-color: rgba(211, 211, 211, 0.13);
}
.imgThumbnail {
  height: 50px;
  max-width: 100px;
  overflow: hidden;
  border-radius: 5px;
}
.imageName {
  width: 200px;
  overflow: hidden;
}
.imageName div {
  width: auto;
}
.imgThumbnail img {
  height: auto;
  width: 100%;
}
